
{% extends "agentadmin/base.html" %}
{% load static %}

{% block content %}
    <style>
    </style>
    <div class="layui-container">
        <table class="layui-hide" id="ID-table-demo-data"></table>
    </div>

    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
    <script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
            layui.use('table', function(){
                var table = layui.table;

                // 渲染已知数据
                var inst = table.render({
                    elem: '#ID-table-demo-data',
                    cols: [[ //标题栏
                        {field: 'admin_username', title: '所属机器人', width: 120},
                        {field: 'user_name', title: '昵称', width: 120},
                        {field: 'message', title: '指令', minWidth: 100},
                        {field: 'issue', title: '期号', width: 100,sort: true},
                        {field: 'created_at', title: '投注时间', width: 180,sort: true}
                    ]],
                    data: [
                        {% for order in unprocessed_orders %}
                            {
                                "admin_username": "{{ order.admin_username }}",
                                "user_name": "{{ order.user_name }}",
                                "message": "{{ order.message  }}",
                                "issue": "{{ order.issue }}",
                                "created_at": "{{ order.created_at }}"
                            }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    page: true, // 是否显示分页
                    limits: [5, 10, 15],
                    limit: 5 // 每页默认显示的数量
                });
            });
    </script>
{% endblock %}
