<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
<thead>
<tr>
  <th>变更字段</th>
  <th>变更前</th>
  <th>变更后</th>
</tr>
</thead>
<tbody>
<tr>
                                  <td>头像</td>
                                  <td><img href="http://127.0.0.1:8000/media/images/aDUNhynqGALCHtSRhe8R.jpg"></td>
                                  <td><img href="http://127.0.0.1:8000/media/images/ZOprsZm1-deMR_AUvzZ_.jpg"></td>
                                </tr>
</tbody>
</table>
</body>
</html>
