<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.bot.mapper.ReplyMapper">

<!--    <insert id="insertReply" parameterType="Reply">-->
<!--        INSERT INTO tg_reply(tg_id,order_id,message_chat_id,message_id,message_type,create_time)-->
<!--        VALUES (-->
<!--                #{tgId},-->
<!--                #{orderId},-->
<!--                ARRAY[#{messageChatId}],-->
<!--                ARRAY[#{messageId}],-->
<!--                ARRAY[#{messageType}],-->
<!--                NOW()-->
<!--               )-->
<!--    </insert>-->

    <update id="updateReply" parameterType="Reply">
        UPDATE tg_reply
        SET status = #{status},
            update_time = NOW(),
            message_chat_id = message_chat_id || (#{messageChatId, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}),
            message_id = message_id || (#{messageId, typeHandler=org.apache.ibatis.type.ArrayTypeHandler}),
            message_type = message_type || (#{messageType, typeHandler=org.apache.ibatis.type.ArrayTypeHandler})
        WHERE order_id = #{orderId}
    </update>



</mapper>
